@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
#main-nav .container {
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
}

#main-nav .logo {
  width: 50px;
  height: 50px;
  display: block;
  overflow: visible;
  border: 5px solid #fcbf1e;
  position: relative;
  background-color: #555;
  color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#main-nav .logo .logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 13px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

#main-nav .logo:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
}

#main-nav .logo:hover .logo-text {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

#main-nav .logo:hover {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

#main-nav .logo:hover .logo-text {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.navbar .nav-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000 !important;
  padding: 0.4rem 1.4rem !important;
  border-radius: 1.4rem !important;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  background: #fcbf1e;
}

@media (max-width: 500px) {
  .navbar .nav-link {
    font-size: 0.9rem;
    padding: 0.3rem 1.3rem !important;
  }
}

#showcase {
  height: 700px;
}

#showcase .row,
#showcase .container {
  height: 100%;
}

#showcase #title {
  padding: 1rem 0;
}

#showcase #title h1 {
  -webkit-transform: translateY(-800px);
          transform: translateY(-800px);
  -webkit-animation: heading 1.5s forwards ease-in;
          animation: heading 1.5s forwards ease-in;
}

@-webkit-keyframes heading {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes heading {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#showcase #links {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
  -webkit-animation: link 2s forwards ease-in;
          animation: link 2s forwards ease-in;
}

@-webkit-keyframes link {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes link {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#showcase .separator {
  display: block;
}

#showcase i {
  color: #333;
  margin-right: 2rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#showcase i:hover {
  color: #fcbf1e;
}

@media (max-width: 500px) {
  #showcase {
    height: 730px;
  }
  #showcase #title h1 {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0.8rem;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation: heading 1.5s forwards ease-in;
            animation: heading 1.5s forwards ease-in;
  }
  @-webkit-keyframes heading {
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes heading {
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  #showcase .row {
    height: 80%;
    padding-top: 80px;
  }
  #showcase #photo .img-fluid {
    max-width: 50%;
  }
  #showcase #links {
    text-align: center;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    -webkit-animation: link 2s forwards ease-in;
            animation: link 2s forwards ease-in;
  }
  @-webkit-keyframes link {
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes link {
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  #showcase .separator {
    display: inline-block;
  }
}

@media (max-width: 375px) {
  #showcase {
    height: 750px;
  }
  #showcase .row {
    height: 80%;
    padding-top: 80px;
  }
  #showcase #title h1 {
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0.8rem;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation: heading 1.5s forwards ease-in;
            animation: heading 1.5s forwards ease-in;
  }
  @-webkit-keyframes heading {
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes heading {
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  #showcase #links {
    text-align: center;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    -webkit-animation: link 2s forwards ease-in;
            animation: link 2s forwards ease-in;
  }
  @-webkit-keyframes link {
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes link {
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  #showcase .separator {
    display: inline-block;
  }
  #showcase i {
    margin-right: 2.5rem;
  }
}

@media (max-width: 374px) {
  #showcase .row {
    height: 700px;
  }
  #showcase #title h1 {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  #showcase #links {
    text-align: center;
  }
  #showcase .separator {
    display: inline-block;
  }
  #showcase i {
    margin-right: 1.5rem;
  }
}

#projects {
  background: #dcd6f7;
  height: 820px;
}

#projects .row h3 {
  font-size: 2rem;
}

#projects .row #glozzom {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
  -webkit-animation: image 1.5s forwards ease-in;
          animation: image 1.5s forwards ease-in;
}

@-webkit-keyframes image {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes image {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#projects .row #tracalorie {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
  -webkit-animation: image 1.5s forwards ease-in;
          animation: image 1.5s forwards ease-in;
}

@keyframes image {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#skills {
  height: 800px;
}

#skills .container {
  height: 100%;
}

#skills .heading-separator {
  width: 7rem;
}

#skills #skills-content {
  height: 600px;
  width: 90%;
  margin: auto;
  padding: 5rem 4rem 4rem 2rem;
  border-radius: 0.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dcd6f7;
}

#skills #skills-content > h3 {
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skills-content #col-1 {
  margin: 3rem 2rem 2rem 8rem;
}

#skills #skills-content #col-2 {
  margin: 3rem 2rem 2rem 2rem;
}

#skills #skills-content #col-1,
#skills #skills-content #col-2 {
  position: relative;
  width: 30vw;
}

#skills #skills-content #col-1 > h3,
#skills #skills-content #col-2 > h3 {
  margin: 2.5rem;
  font-size: 1.5rem;
}

#skills #skills-content #col-1 li,
#skills #skills-content #col-2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2rem;
  margin-left: 2rem;
  font-size: 1.3rem;
}

#skills #skills-content #col-1 img,
#skills #skills-content #col-2 img {
  max-height: 70px;
  margin-right: 0.6rem;
}

#skills #skills-content #col-1 > div,
#skills #skills-content #col-2 > div {
  position: absolute;
  width: 100%;
}

@media (max-width: 1024px) {
  #skills-content {
    padding: 6rem 7rem 5rem 0;
  }
}

@media (max-width: 900px) {
  #skills #skills-content #col-1 {
    margin: 3rem 0rem 2rem 2rem;
  }
  #skills #skills-content #col-2 {
    margin: 3rem 0rem 2rem 2rem;
  }
}

@media (max-width: 768px) {
  #skills #skills-content #col-1 {
    margin: 3rem 2rem 2rem 1rem;
  }
}

@media (max-width: 500px) {
  #skills #skills-content > h3 {
    font-size: 2.2rem;
  }
  #skills #skills-content #col-1 {
    margin: 3rem 2rem 2rem 2rem;
  }
  #skills #skills-content #col-2 .lang-framework,
  #skills #skills-content #col-2 .db-tools {
    display: none;
  }
  #skills #skills-content img {
    max-height: 50px;
    margin-right: 0.3rem;
  }
}

@media (max-width: 375px) {
  #skills #skills-content #col-1 {
    margin: 3rem 2rem 2rem 1rem;
  }
}

@media (max-width: 320px) {
  #skills #skills-content #col-1 {
    margin: 3rem 1rem 2rem 1rem;
  }
  #skills #skills-content #col-1 li {
    font-size: 0.8rem;
    margin-left: 0;
  }
  #skills #skills-content img {
    max-height: 35px;
    margin-right: 0.2rem;
  }
}

#contact {
  background: #dcd6f7;
}

#contact .heading-separator {
  width: 11rem;
}

#contact .btn {
  width: 50%;
  margin: 1rem auto;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: #fcbf1e;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact .btn:hover {
  opacity: 0.9;
  color: #fff;
}

#main-footer {
  background: #f4f4f4;
}

#main-footer .footer-text {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.separator {
  width: 7rem;
  height: 0.5rem;
  display: inline-block;
  background: #fcbf1e;
  margin-top: 2rem;
}

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2.2rem;
  text-transform: uppercase;
}

.heading-separator {
  width: 10rem;
  height: 0.5rem;
  display: block;
  background: #fcbf1e;
  margin: auto;
  text-align: center;
}

.form-control:focus {
  border-color: #fcbf1e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 191, 30, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 191, 30, 0.6);
}
