@import "./variables";
#contact {
    background: $primary-color;
    .heading-separator {
        width: 11rem;
    }
    .btn {
        width: 50%;
        margin: 1rem auto;
        padding: 0.8rem;
        border-radius: 0.8rem;
        background-color: $secondary-color;
        font-size: 1.2rem;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.9;
            color: #fff;
        }
    }
}