#main-nav {
    h3 {
        padding-top: 10px;
    }
    .container {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }
    .logo {
        width: 50px;
        height: 50px;
        display: block;
        overflow: visible;
        border: 5px solid $secondary-color;
        position: relative;
        background-color: #555;
        color: #fff;
        transform: rotate(0deg);
        transition: transform .4s ease-in-out;
        flex-shrink: 0;
        .logo-text {
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: 700;
            font-size: 13px;
            transform: translate(-50%, -50%) rotate(0deg);
            transition: transform .4s ease-in-out;
        }
        &:hover {
            transform: rotate(90deg);
            color: #fff;
            .logo-text {
                transform: translate(-50%, -50%) rotate(0deg);
                transition: transform .4s ease-in-out;
            }
        }
    }
    .logo:hover {
        opacity: 1;
        transform: rotate(-90deg);
        transition: transform .4s ease-in-out;
    }
    .logo:hover .logo-text {
        transform: translate(-50%, -50%) rotate(90deg);
        transform-origin: center;
    }
}

.navbar {
    .nav-link {
        font-size: 1.2rem;
        font-weight: bold;
        color: #000 !important;
        padding: 0.6rem 1.6rem !important;
        border-radius: 1.4rem !important;
        transition: background 0.3s ease-in-out;
        &:hover {
            background: $secondary-color;
        }
    }
}