@import "./variables";
#projects {
    background: $primary-color;
    height: 850px;
    .row {
        border-radius: 10px;
        h3 {
            font-size: 2.3rem;
        }
        #glozzom {
            transform: translateX(800px);
            animation: image 1.5s forwards ease-in;
            @keyframes image {
                to {
                    transform: translateX(0px);
                }
            }
        }
        #tracalorie {
            transform: translateX(-800px);
            animation: image 1.5s forwards ease-in;
            @keyframes image {
                to {
                    transform: translateX(0px);
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #projects {
        height: 960px;
        .row {
            h3 {
                font-size: 2.1rem;
            }
            padding: 1rem !important;
            margin-bottom: 1rem !important;
            .col-md-6 {
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}