@import "./variables";
#projects {
    background: $primary-color;
    height: 780px;
    .row {
        border-radius: 10px;
        h3 {
            font-size: 2.3rem;
        }
        #glozzom {
            transform: translateX(800px);
            animation: image 1.5s forwards ease-in;
            @keyframes image {
                to {
                    transform: translateX(0px);
                }
            }
        }
        #tracalorie {
            transform: translateX(-800px);
            animation: image 1.5s forwards ease-in;
            @keyframes image {
                to {
                    transform: translateX(0px);
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #projects {
        height: 1120px;
    }
    .row {
        h3 {
            font-size: 1.9rem;
        }
    }
}