@import "./variables";
#showcase {
    .row {
        height: 90vh;
    }
    #title {
        margin-bottom: 1rem;
    }
    .separator {
        display: block;
    }
    i {
        color: #333;
        margin-right: 2rem;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: $secondary-color;
        }
    }
}

@media(max-width:500px) {
    #showcase {
        #title h1 {
            font-size: 2rem;
            font-weight: 200;
            text-align: center;
            margin-bottom: 0.9rem;
        }
        #links {
            text-align: center;
        }
        .separator {
            display: inline-block;
        }
    }
}

@media(max-width:375px) {
    #showcase {
        #title h1 {
            font-size: 1.8rem;
            font-weight: 200;
            text-align: center;
            margin-bottom: 0.8rem;
        }
        #links {
            text-align: center;
        }
        .separator {
            display: inline-block;
        }
        i {
            margin-right: 2.5rem;
        }
    }
}

@media(max-width:374px) {
    #showcase {
        #title h1 {
            font-size: 1.5rem;
            font-weight: 100;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        #links {
            text-align: center;
        }
        .separator {
            display: inline-block;
        }
        i {
            margin-right: 1.5rem;
        }
    }
}