@import "./variables";
#showcase {
    height: 700px;
    .row,
    .container {
        height: 100%;
    }
    #title {
        padding: 1rem 0;
        h1 {
            transform: translateY(-800px);
            animation: heading 1.5s forwards ease-in;
        }
        @keyframes heading {
            to {
                transform: translateY(0px);
            }
        }
    }
    #links {
        transform: translateX(-800px);
        animation: link 2s forwards ease-in;
    }
    @keyframes link {
        to {
            transform: translateX(0px);
        }
    }
    .separator {
        display: block;
    }
    i {
        color: #333;
        margin-right: 2rem;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: $secondary-color;
        }
    }
}

@media(max-width:500px) {
    #showcase {
        height: 730px;
        #title {
            h1 {
                font-size: 2rem;
                font-weight: 200;
                text-align: center;
                margin-bottom: 0.8rem;
                transform: translateY(-200px);
                animation: heading 1.5s forwards ease-in;
            }
            @keyframes heading {
                to {
                    transform: translateY(0px);
                }
            }
        }
        .row {
            height: 80%;
            padding-top: 80px;
        }
        #photo {
            .img-fluid {
                max-width: 50%;
            }
        }
        #links {
            text-align: center;
            transform: translateX(-400px);
            animation: link 2s forwards ease-in;
            @keyframes link {
                to {
                    transform: translateX(0px);
                }
            }
        }
        .separator {
            display: inline-block;
        }
    }
}

@media(max-width:375px) {
    #showcase {
        height: 750px;
        .row {
            height: 80%;
            padding-top: 80px;
        }
        #title {
            h1 {
                font-size: 1.8rem;
                font-weight: 200;
                text-align: center;
                margin-bottom: 0.8rem;
                transform: translateY(-200px);
                animation: heading 1.5s forwards ease-in;
            }
            @keyframes heading {
                to {
                    transform: translateY(0px);
                }
            }
        }
        #links {
            text-align: center;
            transform: translateX(-400px);
            animation: link 2s forwards ease-in;
            @keyframes link {
                to {
                    transform: translateX(0px);
                }
            }
        }
        .separator {
            display: inline-block;
        }
        i {
            margin-right: 2.5rem;
        }
    }
}

@media(max-width:374px) {
    #showcase {
        .row {
            height: 700px;
        }
        #title h1 {
            font-size: 1.5rem;
            font-weight: 100;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        #links {
            text-align: center;
        }
        .separator {
            display: inline-block;
        }
        i {
            margin-right: 1.5rem;
        }
    }
}