    @import "./variables";
    #skills {
        height: 800px;
        .container {
            height: 100%;
        }
        .heading-separator {
            width: 7rem;
        }
        #skills-content {
            height: 600px;
            width: 90%;
            margin: auto;
            padding: 5rem 4rem 4rem 2rem;
            border-radius: 0.6rem;
            position: relative;
            display: flex;
            justify-content: center;
            background-color: $primary-color;
            &>h3 {
                font-size: 2rem;
                position: absolute;
                top: 10%;
                left: 50%;
                // Centre text relative to its own bounding box
                transform: translate(-50%, -50%);
            }
            #col-1 {
                margin: 3rem 2rem 2rem 8rem;
            }
            #col-2 {
                margin: 3rem 2rem 2rem 2rem;
            }
            #col-1,
            #col-2 {
                position: relative;
                width: 30vw;
                &>h3 {
                    margin: 2.5rem;
                    font-size: 1.5rem;
                }
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 2.2rem;
                    margin-left: 2rem;
                    font-size: 1.3rem;
                }
                img {
                    max-height: 70px;
                    margin-right: 0.6rem;
                }
                &>div {
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }
    
    @media (max-width: 1024px) {
        #skills-content {
            padding: 6rem 7rem 5rem 0;
        }
    }
    
    @media (max-width: 900px) {
        #skills {
            #skills-content {
                #col-1 {
                    margin: 3rem 0rem 2rem 2rem;
                }
                #col-2 {
                    margin: 3rem 0rem 2rem 2rem;
                }
            }
        }
    }
    
    @media (max-width: 768px) {
        #skills {
            #skills-content {
                #col-1 {
                    margin: 3rem 2rem 2rem 1rem;
                }
            }
        }
    }
    
    @media (max-width: 500px) {
        #skills {
            #skills-content {
                &>h3 {
                    font-size: 2.2rem;
                }
                #col-1 {
                    margin: 3rem 2rem 2rem 2rem;
                }
                #col-2 .lang-framework,
                #col-2 .db-tools {
                    display: none;
                }
                img {
                    max-height: 50px;
                    margin-right: 0.3rem;
                }
            }
        }
    }
    
    @media (max-width: 375px) {
        #skills {
            #skills-content {
                #col-1 {
                    margin: 3rem 2rem 2rem 1rem;
                }
            }
        }
    }
    
    @media (max-width: 320px) {
        #skills {
            #skills-content {
                #col-1 {
                    margin: 3rem 1rem 2rem 1rem;
                    li {
                        font-size: 0.8rem;
                        margin-left: 0;
                    }
                }
                img {
                    max-height: 35px;
                    margin-right: 0.2rem;
                }
            }
        }
    }